@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bug: #92bc2c;
    --dark: #595761;
    --dragon: #0c69c8;
    --electric: #e6cb36;
    --fire: #fba54c;
    --fairy: #ee90e6;
    --fighting: #d3425f;
    --flying: #a1bbec;
    --ghost: #5f6dbc;
    --grass: #5fbd58;
    --ground: #da7c4d;
    --ice: #75d0c1;
    --normal: #a0a29f;
    --poison: #b763cf;
    --psychic: #fa8581;
    --rock: #c9bb8a;
    --steel: #5695a3;
    --water: #539ddf;
  }

  body {
    @apply bg-slate-200 dark:bg-slate-950 overflow-x-hidden font-plex;
  }

  img {
    @apply drag-none;
  }

  .drag-none {
    -webkit-user-drag: none;
  }
}

@layer utilities {
  .rtl {
    direction: rtl;
  }

  .ltr {
    direction: ltr;
  }

  ::-webkit-scrollbar {
    @apply hidden sm:block sm:w-3 dark:bg-slate-700;
  }

  ::-webkit-scrollbar-track {
    @apply bg-slate-300 dark:bg-slate-950;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-slate-400 dark:bg-slate-700;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-500 dark:bg-slate-500;
  }

  .scrollbar::-webkit-scrollbar {
    @apply hidden md:block md:w-2;
  }

  .scrollbar::-webkit-scrollbar-track {
    @apply bg-slate-300 dark:bg-slate-950;
  }

  .scrollbar::-webkit-scrollbar-button {
    @apply hidden;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    @apply bg-slate-400 dark:bg-slate-700;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-500 dark:bg-slate-500;
  }

  .panel {
    @apply bg-white/40 dark:bg-black/40 dark:text-white text-center items-center overflow-hidden justify-center rounded-lg border border-black/60 shadow-xl;
  }

  .panel .title {
    @apply w-full bg-slate-300 dark:bg-slate-700 font-bold text-lg uppercase shadow-md;
  }

  .detail-box {
    @apply bg-white/40 dark:bg-black/40 flex justify-center border border-black/40 dark:border-white/40 items-center gap-2 p-2 relative text-xs m-2 rounded-lg hover:cursor-help min-h-[40px] font-semibold select-none;
  }

  .detail-box .hover-text {
    @apply hidden absolute w-fit min-w-[150px] p-2 bg-white/90 dark:bg-black/90 border border-black/40 dark:border-white/40 rounded-lg top-8;
  }
}
